<br />
<div>
    <% if(!isFP){ %>
        <span class="prepage"><a title="上一页" href="?p=<%= page-1 %>"></a></span>
    <% } %>

    <% if(!isLP){ %>
        <span class="nextpage"><a title="下一页" href="?p=<%= page+1 %>"></a></span>
    <% } %>
</div>